.container{
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  flex-grow: 1; 
  padding:2%;

  margin-bottom: 10px;
  padding-bottom: 10px;
  border: 2px solid #c9e6ec;
  border-radius:10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.cardContainer{
  width: 100%;
  padding: 12px;
  margin:5px;
  background-color:#DBDCCF ;
  border: 2px solid #ffffff;
  border-radius:10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  height: auto;
}
.calendar_container{
  background-color:#3A7D9A;
  width: 330px; 
 height: 290px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 12px;
  border: 2px solid #ffffff;
  display: flex;
flex-direction: column;
justify-content: space-between;
  
}
.calendar { 
   height: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 12px;
  border: 2px solid #3A7D9A;
  overflow: hidden;
  display: flex;
flex-direction: column;

}
.calendar-body {
  display: flex;
  flex-direction: column;
  flex: 1;
   
}

.calendar-header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #30B0C7;

}
.calendar-header button {
  border: none;
  font-size: 1.5em;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #A2845E;
}
#month-year {
  font-size: 1.2em;
  font-weight: bold;
}
.calendar-weekdays{
  display: grid;
  color:#A2845E;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  flex: 1;
}
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
color: #30B0C7;
border-radius: 50%;
flex: 1;
}
.calendar-weekdays div {
  text-align: center;
  padding: 4px 0;
 
  font-weight: bold;
}
.calendar-dates div{
  text-align: center;
  padding: 4px 0;
  font-size: 14px;
cursor: pointer;
}
.calendar-dates div:hover {
  background-color: #c9e6ec;
}
.current-date {
  background-color:#3A7D9A ;
  color: #fff; 
  box-shadow: 0 5px 50px rgba(#000, 0.5);
}
 
.pieChart_container{
  background-color:#c9e6ec;
  width: 330px; 
  height: 290px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 12px;
  border: 2px solid #ffffff;
  overflow: hidden;

} 
.LinearChart_Container{
  background-color:#DBE9EA;
  width: auto; 
  height:100vh;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 12px;
  border: 2px solid #ffffff;
  overflow: hidden;
}