{% load static %}
<div class="navbar-left">
  <a href="{% url 'home' %}">
    <img src="{% static 'health_check/images/logo.png' %}"
         alt="Sky Logo" class="logo">
  </a>

  <nav class="nav flex-column mt-4">
    <a href="{% url 'home' %}"
       class="nav-link{% if request.resolver_match.url_name == 'home' %} active{% endif %}">
      <i class="bi bi-house-door"></i> Home
    </a>
    <a href="{% url 'voting_page' %}"
       class="nav-link{% if request.resolver_match.url_name == 'voting_page' %} active{% endif %}">
      <i class="bi bi-check-square"></i> Vote
    </a>
    <a href="{% url 'statistics' %}"
       class="nav-link{% if request.resolver_match.url_name == 'statistics' %} active{% endif %}">
      <i class="bi bi-bar-chart-line"></i> Statistic
    </a>
    <a href="{% url 'all_history' %}"
       class="nav-link{% if request.resolver_match.url_name == 'all_history' %} active{% endif %}">
      <i class="bi bi-clock-history"></i> History
    </a>
  </nav>

  <hr>

  <nav class="nav flex-column mt-auto">
    <a class="nav-link">
      <i class="bi bi-person-circle"></i> {{ request.user.username }}
    </a>
    <a href="{% url 'logout' %}" class="nav-link">
      <i class="bi bi-box-arrow-right"></i> Log out
    </a>
  </nav>
</div>
