{# health_check/voting_page.html #}
{% extends 'enghomemain.html' %}
{% load static %}

{% block content %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Voting</title>


  <link
    rel="stylesheet"
    href="{% static 'health_check/css/voting.css' %}"/>

    <link
    rel="stylesheet"
    href="{% static 'health_check/css/globals.css' %}"/>
</head>

<div class="box">

  <div class="choose-session">
    <div class="text-wrapper-6">Choose session:</div>
    <div class="overlap-2">
      <select class="session-dropdown">
        <option value="" disabled selected>Session name</option>
        {% for session in user.team.session_set.all %}
          <option value="{{ session.session_id }}">{{ session.session_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="your-cards">Your Cards</div>

  <div class="cards-title-row">
    <div class="text-wrapper-4">Card</div>
    <div class="text-wrapper-3">Opinion</div>
    <div class="text-wrapper-2">Progress</div>
  </div>


  <div class="voting-page">
    <div class="overlap">
      <div class="cards-section">
        {% for card in cards %}
          <div class="card">
            <div class="overlap-group">

              <div class="card-name">{{ card.card_name }}</div>

              <select class="progress-dropdown" name="progress-{{ card.card_id }}">
                <option value="" disabled selected>Select Progress</option>
                <option value="not-started" {% if card.card_progress == 'not-started' %}selected{% endif %}>Not Started</option>
                <option value="in-progress" {% if card.card_progress == 'in-progress' %}selected{% endif %}>In Progress</option>
                <option value="completed" {% if card.card_progress == 'completed' %}selected{% endif %}>Completed</option>
              </select>
              
              <select class="opinion-dropdown" name="opinion-{{ card.card_id }}">
                <option value="" disabled selected>Select Opinion</option>
                <option value="positive">Positive</option>
                <option value="neutral">Neutral</option>
                <option value="negative">Negative</option>
              </select>

              <button class="save-button">
                <div class="save-wrapper">
                  <div class="save">Save</div>
                </div>
              </button>

            </div>
          </div>
        {% empty %}
          <p>You haven’t got any cards in this session yet.</p>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

{% endblock %}
