{%extends 'DeptLeaderHomeMain.html'%}
{%block content%}
<div class="  container ">
    <h3>Welcome to the Dept Home Page</h3>

    
    <div class="cardContainer d-flex flex-wrap gap-3"> 
      {% for team in teams %}
        <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">{{ team.team_name }}</h5>
              <a href="#" class="btn btn-primary">go</a>
            </div>
        </div>
        {% empty %}
        <p>No teams found in your department.</p>
        {% endfor %}
    </div>
  

    <div class="d-flex flex-wrap gap-5">
         
        <div class="pieChart_container">
        </div>
        <div class="LinearChart_Container">
        </div>
    </div>

    
    <div class="barChart_Container">
    </div>
    
    
</div>

{%endblock content%}