<!--#
File Name: DeptLeaderHomeMain.html
Description: home pages for Department leaders displaying teams in their department a piechart for current session progress and a barcahrt
Author: Umayma Jabbar (W19694885)
Co-Authors: None 
-->

{%extends 'DeptLeaderHomeMain.html'%}
{%block content%}
<div class="  container "> 
    <div class=" d-flex flex-wrap gap-3  ">  
      <div class="cardContainer" id="scrollContainer">
      {% for team in teams %} 
        <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">{{ team.team_name }}</h5> 
            </div>
        </div>
      
        {% empty %}
        <p>No teams found in your department.</p>
        {% endfor %}

        <button onclick="scrollRight()" class="scroll-btn right">&rarr;</button>
      </div>
    </div>
  

    <div class="d-flex flex-wrap gap-5">
          <!--Pie chart showing current session progress-->
        <div id="pieChart_container"></div>
         <!--Linear chart represening progress over time for sessions-->
        <div id="lContainer"></div>
    </div>
    <!--Bar chart for current team session progress-->
    <div id="barChart_Container">
    </div>
</div>

{%endblock content%}