{%extends 'DeptLeaderHomeMain.html'%}
{%block content%}
<div class="  container "> 
    <div class=" d-flex flex-wrap gap-3  ">  
      <div class="cardContainer" id="scrollContainer">
      {% for team in teams %} 
        <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">{{ team.team_name }}</h5> 
            </div>
        </div>
      
        {% empty %}
        <p>No teams found in your department.</p>
        {% endfor %}

        <button onclick="scrollRight()" class="scroll-btn right">&rarr;</button>
      </div>
    </div>
  

    <div class="d-flex flex-wrap gap-5">
         
        <div id="pieChart_container">
        </div>
        <div id="lContainer">
        </div>
    </div>

    
    <div id="barChart_Container">
    </div>
    
    
</div>

{%endblock content%}