{%extends 'main.html'%} 
{%load static%}

{%block content%}
<div class="row intro-container">
    <div class="col-7 welcome-message">
    <h3>Welcome to the home page!</h3>
      <h1>Track Improve. Thrive 
        with our Health Check app.</h1>
      <div class="login">
        <h6>Get started</h6>
        <input type="email" name="email" class="input-email shadow" required placeholder="Enter your email address">
        <button type="submit" class="login-btn mx-auto">Log in/Register</button>
      </div>
    </div>
    <div class="col-5">
        <img
        src="https://img.freepik.com/free-photo/fun-party-with-dj_23-2151108172.jpg?t=st=1744033521~exp=1744037121~hmac=1c9ebf9b48b05a3c0bb34ec856535621aec367ff8755176620aa9d1c94648283&w=996"
        class="img-fluid"
        weight="300px"
        height="200px"
      /></div>
  </div>
  <!--use the same like the top and make the image big and the text should be small of different bg-colors-->
  <div class="brief-container">
    <h2 style="color:#15818F;">Brief on health check system:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <div class="row">
        <div class="col-sm-5"><img
            src="https://img.freepik.com/free-photo/fun-party-with-dj_23-2151108172.jpg?t=st=1744033521~exp=1744037121~hmac=1c9ebf9b48b05a3c0bb34ec856535621aec367ff8755176620aa9d1c94648283&w=996"
            weight="300px"
            height="200px"
            class="img-fluid"
          /></div>
        <div class="col-sm-7 brief"> 
            <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris
             nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
             fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
             proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
  </div>
  <div class="faq-container">
    <div class="row">
        <div class="faq-wrapper">
            <div class="header">
                <h1>FAQs:</h1>
            </div>
            <div class="faq-inner">
                <div class="faq-item">
                    <h3>How do I register for an account?
                        <span class="faq-plus">&plus;</span>
                    </h3>
                    <div class="faq-body">
                        Just click on the  register button on the homepage
                    </div>
                </div>
                <hr>
                <div class="faq-item">
                    <h3>How do I register for an account?
                        <span class="faq-plus">&plus;</span>
                    </h3>
                    <div class="faq-body">
                        Just click on the  register button on the homepage
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

  <div class="contact">
    <h1 style="color:#15818F; font-family:Averia Serif Libre;">Need Help</h1>
    <div class="contact-form">
      <form>
          <h3>Contact us:</h3>
          <div class="form-group">
              <label for="fullname">Full name:</label>
              <input type="text" class="form-control" id="fullname" placeholder="Full name*">
            </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address *">
          </div>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Message:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Contact us</button>
        </form>
    </div>
  </div>
   <footer class="visitor-footer">
    <div class="logo">
      <a href=""><img src="{% static 'health_check/images/logo.png' %}" alt="Sky Logo" class="logo"></a>
    </div>
    <a href="">About us</a>
    <a href="">Contact us</a>
   </footer>   
   </div>
   <script>
    document.querySelectorAll('.faq-plus').forEach(function(button){
      button.addEventListener('click', function(){
        const faqBody=this.closest('.faq-item').querySelector('.faq-body');
        faqBody.classList.toggle('hidden');
    
      if(faqBody.classList.contains('hidden')){
        this.textContent="-";
      }
      else{
        this.textContent="+";
      }
    });
  });
  
   </script>
  {%endblock content%}
