{%extends 'senManagerHomeMain.html'%}
{%block content%}
<div class="  container ">
    <h3>Welcome to the senio manger Home Page</h3>

    <div class="cardContainer d-flex flex-wrap gap-3"> 
        <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card  " style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 10rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-wrap gap-5">
        <div class="LinearChart_Container">
        </div>
    </div>

    
    <div class="box_Container">
    
            <div class="summary">
                <div class="box1">
                  <div class="dept">Curren-Session</div>
                  <div class="dept">dept </div>
                  <div class="dept">dept </div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  <div class="dept">dept</div>
                  
 
                </div>
                <div class="box2">
                    <div class="dept">Curren-Session</div>
                    <div class="dept">dept </div>
                    <div class="dept">dept </div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    <div class="dept">dept</div>
                    
   
                  </div>
              </div>
        </div>

    
    
</div>

{%endblock content%}
